Blockus-Client/Connected Services/BlockusService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Enums" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Enums" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfColor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Color" type="tns:Color" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColor" nillable="true" type="tns:ArrayOfColor" />
  <xs:simpleType name="Color">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Red" />
      <xs:enumeration value="Blue" />
      <xs:enumeration value="Yellow" />
      <xs:enumeration value="Green" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Color" nillable="true" type="tns:Color" />
  <xs:simpleType name="GameType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Private" />
      <xs:enumeration value="Public" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameType" nillable="true" type="tns:GameType" />
</xs:schema>