Blockus-Client/Connected Services/BlockusService/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.MatchState" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.MatchState" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.Enums" />
  <xs:complexType name="ArrayOfPlayerState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerState" nillable="true" type="tns:PlayerState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerState" nillable="true" type="tns:ArrayOfPlayerState" />
  <xs:complexType name="PlayerState">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.Enums" minOccurs="0" name="BlocksList" nillable="true" type="q1:ArrayOfBlock" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.Enums" minOccurs="0" name="Color" type="q2:Color" />
      <xs:element minOccurs="0" name="Puntuation" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerState" nillable="true" type="tns:PlayerState" />
</xs:schema>